div(ng-controller='AdminUserCtrl')
  .container
    h2.text-center.title
      a(new-new-game="#") Rize
    .col-md-6.panel-magin
      summernote(height='300')
    .col-md-6.panel-magin
      p
        aaa




