extends layout

block body
  .row
    .col-md-12
      .navbar.navbar-static-top
        .header
          .container
            a.navbar-brand(href='/') Rize

    .container
      .container-fluid
        div(ng-view)

  //- .row
  //-   .col-md-12
  //-     .footer
  //-       .container
  //-         .clearfix
  //-           .footer-logo
  //-             a(href='/')
  //-               | Rize
  //-           dl.footer-nav
  //-             dt.nav-title CONTACT
  //-             dd.nav-item
  //-               a(href='#') (^_^)
  //-         .footer-copyright.text-center Copyright © 2014 RabbitHouse.All rights reserved.




