!!!
html(ng-app="myApp")
  head
    meta(charset='utf-8')
    meta(property='og:url', content='http://chino.herokuapp.com')
    meta(property='og:site_name', content='Chino')
    meta(property='og:description', content='enPiT')
    meta(property='og:author', content='RebbitHouse')
    meta(property='og:locale', content='ja_JP')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Chino
    base(href='/')
    //- link(rel='shortcut icon', href='./images/favicon.ico')
    //- link(rel='apple-touch-icon-precomposed', href='./images/apple-touch-icon.png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.css')
    link(rel='stylesheet', href='./css/app.css')
  body.bg
    block body

  script(src='//code.jquery.com/jquery-2.1.1.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
  script(src='./js/app.js')
  script(src='./js/services.js')
  script(src='./js/controllers.js')
  script(src='./js/directives.js')
  script(src='./bower_components/angular-summernote/angular-summernote.min.js')