extends layout

block body
  .row(ng-controller='AdminUserCtrl')
    .col-md-12
      .navbar.navbar-static-top
        .header
          .container
            a.navbar-brand.title(href='/') Chino
            button.btn.btn-link.pull-right(ng-show='AuthenticationService.isAuthenticated', ng-click='signOut()') Sign out

    div(ng-view)




