div(ng-controller='UserCtrl')
  .container(ng-show="isAuthenticated")
    button.btn.btn-link.pull-right(ng-click='signOut()') Sign out
    legend.store-main-infomation {{storeName}}
      span.store-sub-infomation
        i.fa.fa-link.padding-right-20(ng-if='storeURL')　
          a(href='{{storeURL}}', target='_blank'){{storeURL}}
        i.fa.fa-th-list　{{storeCategory.name}}
    //- h2.text-center.title
    //-   a Chino
    span(target='_self')
      .col-md-6.panel-magin
        form(role='form', name='registerForm')
          span(ng-Hide='isRestRegisteredStore')
            legend 初期設定
            .form-group
              label(for='storeName') 店舗名
              input#storeName.form-control(type='text', name='storeName', placeholder='Rabbit House', ng-model="storeName", required='required')
            .form-group
              label(for='storeURL') 店舗URL
              input#storeURL.form-control(type='text', name='storeURL', placeholder='http://example.com', ng-model="storeURL")
            .form-group
              label(for='storeCategory') 店舗カテゴリ
              select.form-control(ng-options='category.name for category in categories', ng-model="storeCategory")
            br
          legend 宣伝情報
          .form-group
            label(for='salesText') セールステキスト
            input#salesText.form-control(type='text', name='salesText', placeholder='春物新作入荷しました！！', autofocus, ng-model="salesText", required='required')
          .form-group
            label(for='detailText') 詳細情報
            //- summernote(config="options", ng-model='text')
            text-angular(ng-model="htmlVariable", required='required')
          //- timepicker(ng-model='startTime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
          //- timepicker(ng-model='endTime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
          //- pre.alert.alert-info.
          //-   \nTime is: {{startTime | date:'shortTime' }}
          //- pre.alert.alert-info.
          //-   \nTime is: {{endTime | date:'shortTime' }}
          //- .row
          //-   .col-xs-6
          //-     | Hours step is:
          //-     select.form-control(ng-model='hstep', ng-options='opt for opt in options.hstep')
          //-   .col-xs-6
          //-     | Minutes step is:
          //-     select.form-control(ng-model='mstep', ng-options='opt for opt in options.mstep')

          button#save.btn.btn-primary(type='button', ng-click='registerInfomation()', ng-disabled="registerForm.$invalid") 登録
          button#save.btn(type='button', ng-click='draftInfomation()', ng-disabled="registerForm.$invalid") 下書きとして保存

      .col-md-6.panel-magin
        //- br
        //- textarea(type='text', ng-model='htmlVariable', style='width:100%;')
        //- | text : {{htmlVariable}}

        //- infomation-logs
        span(ng-if='infomationList.length != 0')
          legend 過去の宣伝情報

          form(role='form')
            .form-group
              label(for='searchWord') 検索
              .input-group
                span.input-group-addon
                  span.glyphicon.glyphicon-search

                input.form-control(type='text', placeholder='検索', ng-model="searchWord")
          .list-group
            //- a.list-group-item.active(href='#')
            //- a.list-group-item(edit-infomation="#i{{infomation.id}}", sales-text-log='infomation.salesText', detail-text-log='infomation.detailText', sales-text='salesText', html-variable='htmlVariable', ng-repeat='infomation in infomationList | orderBy: "id": true | filter:searchWord')
            a.list-group-item(ng-click='edit($event)', data-id='{{infomation.id}}', data-salestext='{{infomation.salesText}}', data-detailtext='{{infomation.detailText}}', ng-repeat='infomation in infomationList | orderBy: "id": true | filter:searchWord')
              h4.list-group-item-heading {{infomation.salesText}}
              p.list-group-item-text
                {{infomation.createdAt}}
          .row
            .col-md-12.text-center
              pagination.pagination-sm(total-items='bigTotalItems', ng-model='bigCurrentPage', max-size='maxSize', boundary-links='true')





