//- div(ng-controller='AdminUserCtrl')
.container
  legend Chino
  h2.text-center.title
    a Chino
  span(target='_self')
    .col-md-6.panel-magin
      summernote(height='500', focus: true)
    .col-md-6.panel-magin
      infomation-logs




